{% extends 'layout.html' %}
{% load static %}

{% block title %} StyleX - About{% endblock %}
 
{% block body %}
    
<div class="wraper">
    <div class="page-content-wraper">
        <!-- Bread Crumb -->
        <section class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumb-link">
                            <a href="#">Home</a>
                            <span>About Us</span>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bread Crumb -->

        <!-- Page Content -->
        <section class="content-page">
            <div class="container mb-80">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row mb-45">
                            <div class="col-sm-12 text-center">
                                <h2 class="normal"><span>There are many variations of passages</span></h2>
                            </div>
                            <div class="col-sm-6">
                                <p class="large">Ras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus.</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="large">Ras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus.</p>
                            </div>
                        </div>
                        <!--Customer Carousel-->
                        <div class="product-item-1 owl-carousel owl-theme nf-carousel-theme1">
                            <div class="product-item">
                                <img src="{% static 'img/bg/bg_4.jpg' %}" />
                            </div>
                            <div class="product-item">
                                <img src="{% static 'img/bg/bg_2.jpg' %}" />
                            </div>
                        </div>
                        <!--End Customer Carousel-->
                    </div>
                </div>
            </div>
            <section class="section-padding bg-gray">
                <div class="container text-center mb-45">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="normal"><span>What About Us</span></h2>
                            <p class="large">
                                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br />
                                developers can use to quickly grab dummy text.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-xs-30">
                            <h5>Inclusion</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-xs-30">
                            <h5>Ingenuity</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h5>Innovation</h5>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="container text-center mb-45">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="normal"><span>Meet the Team</span></h2>
                        </div>
                    </div>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-item-3 owl-carousel owl-theme nf-carousel-theme1">

                                <!-- item.1 -->
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-img-wrap">
                                            <img src="{% static 'img/product-img/big/product_125470004.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <p class="product-title"><a href="product_detail.html">John Carles</a></p>
                                        <h6 class="item-price">Director</h6>
                                    </div>
                                </div>
                                <!-- item.2 -->
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-img-wrap">
                                            <img src="{% static 'img/product-img/big/product_125470005.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <p class="product-title"><a href="product_detail.html">Charlee Champlin</a></p>
                                        <h6 class="item-price">Account Men.</h6>
                                    </div>
                                </div>
                                <!-- item.3 -->
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-img-wrap">
                                            <img src="{% static 'img/product-img/big/product_125470006.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <p class="product-title"><a href="product_detail.html">Michel Jackson</a></p>
                                        <h6 class="item-price">Designer</h6>
                                    </div>
                                </div>
                                <!-- item.4 -->
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-img-wrap">
                                            <img src="{% static 'img/product-img/big/product_125470007.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <p class="product-title"><a href="product_detail.html">Vincet Vangogh</a></p>
                                        <h6 class="item-price">online Men.</h6>
                                    </div>
                                </div>
                                <!-- item.5 -->
                                <div class="product-item">
                                    <div class="product-item-inner">
                                        <div class="product-img-wrap">
                                            <img src="{% static 'img/product-img/big/product_125470002.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <p class="product-title"><a href="product_detail.html">Lio Nardo</a></p>
                                        <h6 class="item-price">Leader</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- End Page Content -->

    </div>
    
</div>
{% endblock %}