{% extends 'layout.html' %}
{% load static %}
{% block title %}StyleX - Home{% endblock %}
{% block body %}
    
<div class="wraper">
<div class="page-content-wraper">
    <!-- Intro -->
    <section id="intro" class="intro">
        <!-- Revolution Slider -->
        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="background-color: transparent; padding: 0px;">
            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.3.0.2">
                <ul>
                    {% comment %} <li class="dark-bg" data-index="rs-1" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="01">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg1.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />


                        <!--Layer 1-->
                        <h1 class="tp-caption NotGeneric-Title tp-resizeme text-center" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="140"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-100"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">New Look<br />
                            Fashion 2024
                        </h1>


                        <!--Layer 2-->
                        <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal text-center" style="letter-spacing: 0px;"
                            data-x="195"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="0"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="800"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">What's Tranding Fashion?
                        </h3>

                        <!--Layer 3-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                            data-x="245"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="75"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="1100"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>


                    </li> {% endcomment %}
                 <li data-index="rs-2" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="02">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg2.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                        <!-- LAYERS -->

                        <!--Layer 1-->
                        <h1 class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="150"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-100"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">New Look<br />
                            Fashion 2024
                            </h1>
                                <!--Layer 2-->
                    <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal text-center" style="letter-spacing: 0px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">What's Tranding Fashion?
                    </h3>



                        <!--Layer 3-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                            data-x="150"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="75"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="1100"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>
                    </li> 
                    <li data-index="rs-3" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="03">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg3.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                        <!-- LAYERS -->

                        <!--Layer 1-->
                        <div class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="center"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-65"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">
                            <img src="static/img/slider-caption-sale.png" alt="" style="width: 100%; max-width: 682px;" />
                        </div>

                        
                        <!--Layer 2-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-black"
                            data-x="center"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="65"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="900"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>
                    </li> 
                </ul>
            </div>
        </div>

        <!-- End Revolution Slider -->
    </section>
    <!-- End Intro -->

  


    <!-- New Product -->
    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Product</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in new_arrival %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}"  >
                            <img src="{{ product.image }}" alt="{{ product.product.name }}">
                            
                            </a>
                        </div> 
                        <style>
                        .sectionimg{
                            height: 255px !important;
                            width: 255px !important;
                        }
                        </style>
                         <div class="product-button">
    
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            <!-- Add your rating logic here -->
                            <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                <span style="width: 60%"></span>
                            </div>
                            <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            ₹ {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}    
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>

    <!-- Categories -->
    <section class="">
        <div class="section-padding container-fluid bg-image text-center overlay-light90" data-background-img="static/img/bg/bg_5.jpg" data-bg-position-x="center center">
            <div class="container">
                <h2 class="page-title">Shop by Categories</h2>
            </div>
        </div>
        <div class="container container-margin-minus-t">
            <div class="row">
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_man.jpg" alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/man">
                                <div class="categories-caption">
                                    <h6 class="normal">Man</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_women.jpg" alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/woman/">
                                <div class="categories-caption">
                                    <h6 class="normal">Women</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_kids.jpg" width="400" height="600 " alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/kids">
                                <div class="categories-caption">
                                    <h6 class="normal">Kids</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </section>
    <!-- End Categories -->

    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Tranding</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in popular_products %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}"  >
                            <img src="{{ product.image }}" alt="{{ product.product.name }}">
                            </a>
                        </div>
                        <style>
                            .sectionimg{
                                height: 255px !important;
                                width: 255px !important;
                            }
                            </style>
                     <div class="product-button">
                         
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            <!-- Add your rating logic here -->
                            <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                                <span style="width: 60%"></span>
                            </div>
                            <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                     
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            ₹ {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>
    <!-- End New Product -->


    
    <!-- Brnad Logo -->
    {% comment %} <section id="brand-logo" class="section-padding brand-logo">
        <div class="container">
            <ul class="list-none-ib brand-logo-carousel owl-carousel owl-theme">
                <li class="brand-item"><a href="#">
                    <img src="static/img/logo/01.png" alt="nileforest" />
                </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/02.png" alt="niletheme" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/03.png" alt="nile" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/04.png" alt="forest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/05.png" alt="themeforest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/06.png" alt="woocommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/07.png" alt="ecommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/08.png" alt="html" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/09.png" alt="multiprapose" />
                    </a>
                </li>

            </ul>

        </div>
    </section> {% endcomment %}
    <!-- End Brnad Logo -->

</div>
</div>
{% endblock %}