{% extends 'layout.html' %}
{% load static %}
{% comment %} 
{% block title %}Home{% endblock %}
{% block content %} {% endcomment %}
{% block body %}

<style>
    .password-toggle {
        position: relative;
    }
    
    .toggle-password {
        
        position: absolute;
        top: 50%;
        right: 10px; /* Adjust as needed */
        transform: translateY(20%);
        cursor: pointer;
    }
</style>
        
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Use the Bootstrap alert component's events to handle removal
        var alert = document.querySelector('.alert');

        alert.addEventListener('closed.bs.alert', function () {
            // The alert has been closed, you can add additional cleanup here if needed
        });

        // Close the alert automatically after 5 seconds
        setTimeout(function() {
            var bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        }, 5000);
    });
</script>    

<div class="wraper">

    <div class="page-content-wraper">
        <!-- Bread Crumb -->
        <section class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumb-link">
                            <a href="#">Home</a>
                            <span>Login & Register</span>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- Bread Crumb -->

        <!-- Page Content -->
        <section class="content-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" >
                        <div class="form-border-box">
                            <form action="{% url "login" %}" 
                            method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                                <h2 class="normal"><span>Login</span></h2>
                                <div id="error-container">
                                    {% if messages %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {% for message in messages %}
                                        {{ message }}
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    </div>
                              
                                <div class="form-field-wrapper">
                                    <label>Username <span class="required">*</span></label>
                                    <input id="author-email" class="input-md form-full-width" value="" name="username" placeholder="Enter Your  UserName" value="" size="30" aria-required="true" required="" type="text">
                                </div>
                                
                                <div class="form-field-wrapper">
                                    <label>Enter Your Password <span class="required">*</span></label>
                                    <input id="author-pass" class="input-md form-full-width" name="password" placeholder="Enter Your Password" value="" size="30" aria-required="true" required="" type="password">
                                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                                        <i id="eye-icon" class="fa fa-eye-slash" aria-hidden="true"></i> <!-- Change class to fa-eye-slash -->
                                    </span>
                                </div>
                                <div class="form-field-wrapper">
                                    <a href="{% url "forgot_password" %}" class="">Forgot Your Password?</a>
                                </div>
                                <div class="form-field-wrapper">
                                    <input name="submit" id="submit" class="submit btn btn-md btn-black" value="LogIn" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-border-box">
                           
                                <h2 class="normal"><span>New Customers</span></h2>
                                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                                
                                {% comment %} <a href="{% url 'social:begin' 'google-oauth2' %}" id="submit1" class="submit btn btn-md btn-color mb-2">Login With Goggle</a> {% endcomment %}
                                <div class="form-field-wrapper">
                                    <a href="{% url "register" %}" id="submit1" class="submit btn btn-md btn-color">Create An Account</a>
                                </div>
                           
                        </div>  
                    </div>

                </div>
            </div>
        </section>
        <!-- End Page Content -->

    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("author-pass");
        var eyeIcon = document.getElementById("eye-icon");
        
        if (passwordField.type === "password") {
            passwordField.type = "text";
             eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            passwordField.type = "password";
           
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    }
    </script>
    
{% endblock %}